{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li>
  <p class="publication__heading">
    <strong>
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}">{{ title }}</a>
      {% endif %}
    </strong>
  </p>

  {% if post.citation %}
    <p class="publication__details">{{ post.citation }}</p>
  {% endif %}

  <p class="publication__links">
    {% if post.venue %}
      <span class="publication__venue">{{ post.venue }}{% if post.date %} {{ post.date | date: "%Y" }}{% endif %}</span>
    {% endif %}
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i> Paper</a>
    {% endif %}
    {% if post.codeurl %}
      <a href="{{ post.codeurl }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Code</a>
    {% endif %}
    {% if post.slidesurl %}
      <a href="{{ post.slidesurl }}"><i class="fas fa-fw fa-display" aria-hidden="true"></i> Slides</a>
    {% endif %}
    {% if post.bibtexurl %}
      <a href="{{ post.bibtexurl }}"><i class="fas fa-fw fa-quote-right" aria-hidden="true"></i> BibTeX</a>
    {% endif %}
  </p>
</li>
